name: Deploy to Sever

on:
    push:
        branches: [ "main"]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6
            
          - name: Setup Node.js
            uses: actions/setup-node@v6
            with:
                node-version: '24.12.0'
            
          - name: Build Frontend
            working-directory: ./frontend
            run: |
                npm install
                npm run build
        
          - name: Setup Go
            uses: actions/setup-go@v6
            with:
                go-version: '1.25.4'
        
          - name: BUild Backend
            working-directory: ./backend
            run: |
                go mod tidy
                GOOS=linux GOARCH=amd64 go build -o hello .
        
          - name: Deploy to Server
            uses: appleboy/scp-action@master
            with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USERNAME }}
                key: ${{ secrets.KEY }}
                source: "backend/hello,frontend/dist/*"
                target: "/var/www/hello/temp/"
                strip_components: 1
        
          - name: Execute remote commands
            uses: appleboy/ssh-action@master
            with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USERNAME }}
                key: ${{ secrets.KEY }}
                script: |
                    pkill hello || true

                    rm -rf /var/www/hello/dist/*

                    cp -r /var/www/hello/temp/dist/* /var/www/hello/dist/
                    mv -f /var/www/hello/temp/hello /var/www/hello/api/
                    
                    chmod +x /var/www/hello/api/hello

                    cd /var/www/hello/api/
                    nohup ./hello > ./logs.txt 2>&1 &
                    rm -rf /var/www/hello/temp/*
                    echo "Deployed successfully"